<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="de.panko.wakeupplugin"
    version="0.1.0">
    <name>WakeupTimer</name>
    <description>Wakeup Plugin</description>
    <license>Apache 2.0</license>
    <keywords>sleep,wakeup,timer</keywords>
    <repo>https://github.com/svenpanko/cordova-plugin-wakeuptimer</repo>

    <js-module src="www/wakeup.js" name="Wakeup">
      <clobbers target="wakeuptimer"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WakeupPlugin" >
                <param name="android-package" value="de.panko.wakeupplugin.WakeupPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="de.panko.wakeupplugin.WakeupReceiver" />
            <receiver android:name="de.panko.wakeupplugin.WakeupBootReceiver">
              <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
              </intent-filter>
            </receiver>
            <service android:name="de.panko.wakeupplugin.WakeupService" android:exported="false"/>
        </config-file>
        
        <source-file src="src/android/WakeupPlugin.java" target-dir="src/de/panko/wakeupplugin/" />
        <source-file src="src/android/WakeupReceiver.java" target-dir="src/de/panko/wakeupplugin/" />
        <source-file src="src/android/WakeupBootReceiver.java" target-dir="src/de/panko/wakeupplugin/" />
    </platform>
</plugin>
